* {
  margin: 0;
  padding: 0;
}

button,
input[type="submit"],
input[type="reset"],
input[type="text"] {
  background: 0;
  color: inherit;
  border: 0;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  color: white;
}

.grid-container {
  display: grid;
  justify-content: center;
}

.button {
  background: #2B3743;
  font-size: 0.85rem;
  color: white;
  width: 12.75rem;
  padding: 1.3125rem 1.5625rem;
  border-radius: 5px;
}

.button:hover {
  transition: 0.3s ease-in;
  box-shadow: rgba(78, 82, 85, 0.15) 0px 8px 24px;
}

.button--med {
  width: 8.75rem;
  padding: 0.6rem 1rem;
}

.button--input {
  width: 100%;
}

.button--orange {
  background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
  width: 100%;
  border-radius: 50px;
}

li {
  list-style-type: none;
}

.icon {
  color: orange;
}

.icon--logo {
  padding-right: 7px;
  font-size: 2rem;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.dark {
  background: #202d36;
  color: white;
}

.light {
  background: #fafafa;
  color: #202d36;
}

.header {
  display: grid;
  justify-content: center;
  box-shadow: rgba(78, 82, 85, 0.15) 0px 8px 24px;
}

.header__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  width: 80.3125rem;
  height: 3rem;
  padding: 1rem;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__darkmode {
  justify-self: end;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 2fr 0.8fr;
  width: 80.3125rem;
  margin-top: 3.125rem;
}

.nav__where-am-i {
  width: 100%;
  justify-self: center;
}

.nav__searchCountry {
  width: fit-content;
  cursor: pointer;
}

.nav__searchCountry .icon {
  margin-right: 1.5rem;
}

.nav__filterRegion {
  position: relative;
  justify-self: end;
}

.nav__filterRegion:hover .nav__filterRegion__dropdwon {
  display: flex;
}

.nav__filterRegion__dropdwon {
  position: absolute;
  width: 9.6rem;
  padding: 1.3125rem 1.5625rem;
  display: none;
  flex-direction: column;
  background: #2B3743;
  box-shadow: rgba(78, 82, 85, 0.15) 0px 8px 24px;
  border-radius: 4px;
  margin-top: 5px;
  z-index: 3;
}

.nav__filterRegion__dropdwon a:not(:first-child) {
  padding-top: 1rem;
}

.nav__filterRegion__dropdwon a:hover {
  transition: 0.5s ease-in;
  color: orange;
}

.nav__filterRegion .icon {
  margin-left: 2.8rem;
}

.countrycard__container {
  margin-bottom: 7rem;
}

.display-countries, .neighbour__container {
  margin-top: 3rem;
  width: 80.3125rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4.6875rem;
}

.country-card {
  background: #2B3743;
  max-width: 270px;
  border-radius: 5px;
  box-shadow: rgba(78, 82, 85, 0.15) 0px 8px 24px;
}

.country-card__flag img {
  object-fit: cover;
  width: 100%;
  height: 10rem;
  border-radius: 5px 5px 0 0;
}

.country-card__info {
  padding: 35px 25px 45px 25px;
}

.country-card__info__name {
  padding-bottom: 25px;
  font-size: 1.2rem;
}

.country-card:hover {
  cursor: pointer;
  scale: 1.1;
}

li:not(:last-child) {
  padding-bottom: 10px;
}

.country-detail {
  margin-top: 4.6875rem;
  width: 80.3125rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-bottom: 7rem;
}

.country-detail__flag img {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.country-detail__info {
  margin-left: 7rem;
  margin-bottom: 2.5rem;
}

.country-detail__info__name {
  font-size: 1.5rem;
}

.country-detail__info__detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7.9375rem;
  margin-top: 2.75rem;
}

.btn__container {
  display: grid;
  justify-content: end;
  padding-bottom: 3.5rem;
}

.neighbour__container {
  margin-bottom: 10rem;
}

div#map {
  height: 60vh;
  width: 67vw;
  margin-top: 3rem;
  margin-bottom: 7rem;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
}

.error {
  display: grid;
  justify-items: center;
  height: 70vh;
  align-content: center;
  font-size: 1.5rem;
  text-align: center;
}

.error .icon {
  margin-right: 1rem;
}

.error__message {
  margin-bottom: 2rem;
}
/*# sourceMappingURL=main.css.map */