.country-detail {
  margin-top: 4.6875rem;
  width: 80.3125rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-bottom: 10rem;

  &__flag {
    img {
      border-radius: 5px;
      width: 98%;
    }
  }

  &__info {
    margin-left: 8.5rem;

    &__name {
      font-size: 1.5rem;
    }

    &__detail {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 7.9375rem;
      margin-top: 2.75rem;
    }
  }
}

.btn__container {
  display: grid;
  justify-content: end;
  padding-bottom: 3.5rem;
}

.country-neighbours {
  margin-bottom: 10rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4.6875rem;
}

div#map {
  height: 60vh;
  width: 67vw;
}
