.header {
  display: grid;
  justify-content: center;
  box-shadow: rgba(78, 82, 85, 0.15) 0px 8px 24px;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    width: 19rem;
    height: 3rem;
    padding: 0.5rem;
    font-size: 0.79rem;

    @include breakpoint-up(semismall) {
      width: 25rem;
    }

    @include breakpoint-up(medium) {
      width: 40.625rem;
    }

    @include breakpoint-up(xmedium) {
      width: 50rem;
    }

    @include breakpoint-up(large) {
      width: 62.5rem;
    }

    @include breakpoint-up(xlarge) {
      width: 80.3125rem;
    }
  }

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__darkmode {
    justify-self: end;
  }
}
