.pagination__container {
  margin-bottom: 7rem;
  @include breakpoint-down(small) {
    margin-bottom: 3rem;
  }
}

.pagination {
  position: relative;
  overflow: hidden;
  width: 317px;
  height: 55px;
}

.slide {
  position: absolute;
  width: 275px;
  padding-left: 48px;
  padding-top: 14px;
  transition: transform 1s;
}

.sliderBtn {
  position: absolute;
  width: 10px;
  z-index: 10;
}

.btnNext {
  right: 0px;
}

.btnPrev {
  left: 0;
}

.pagination--button {
  @extend .button;
  padding: 1rem;
}
