// Colors

// Dark mode
$dark-blue: #2B3743; //Dark Mode Elements
$very-dark-blue: #202d36; //Dark Mode Background

// Light mode
$very-dark-blue: #202d36; //Light Mode Text
$dark-gray: hsl(0, 0%, 52%); //Light Mode Input
$very-light-gray: hsl(0, 0%, 98%); //Light Mode Background

// Dark Mode Text & Light Mode Elements
$white: hsl(0, 0%, 100%);

// Fonts
$font-med: 1.2rem;
